<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancieraSoft.CapaDominio.Entidades.EstrategiaMora.ClaseEstrategiaMora" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FinancieraSoft.CapaDominio.Entidades.EstrategiaMora.ClaseEstrategiaMora>
            <setting name="NombreDeClaseMora" serializeAs="String">
                <value>FinancieraSoft.CapaDominio.Entidades.EstrategiaMora.EstrategiaMoraPorDia</value>
            </setting>
        </FinancieraSoft.CapaDominio.Entidades.EstrategiaMora.ClaseEstrategiaMora>
    </applicationSettings>
</configuration>